body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background-color: #f9f6f6; /* Alto contraste: fundo preto */
  color: #090808;          /* Texto branco */
  margin: 0;
  padding: 20px;
}

/* Oculta o conteúdo visualmente, mas mantém para leitores de tela */
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

header, main {
  max-width: 800px;
  margin: 0 auto;
}

h1, h2 {
  color: #070706; /* Alto contraste: amarelo */
}

section {
  border: 2px solid #FFF;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 8px;
}

button {
  background-color: #0026ff;
  color: #000;
  font-size: 1.2rem;
  font-weight: bold;
  padding: 15px 25px;
  border: none;
  cursor: pointer;
  margin-top: 10px;
  display: block;
  width: 100%;
}

button:focus, button:hover {
  outline: 4px solid #00FFFF; /* Destaque visual e de foco */
  background-color: #FFF;
}

.botão-emergência {
  background-color: #FF0000;
  color: #FFF;
}

.status-mensagem {
  margin-top: 10px;
}